body {
    background-color: white;
}

.Nowvalue {
    float:left;
}

/*顶部图片DIV */
.infoimg {
    height: 160px;
    background-image: url('../images/backg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 24%;
}
/*图片下面那个DIV */
.infocontain {
    height: 70px;
}
/*用户头像*/
.useravatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    cursor: pointer;
}
/*用户上半层div*/
.uheader {
    position: absolute;
    z-index: 3;
    background-color: transparent;
    top: 100px;
}
/*用户名*/
.username {
    display: inline-block;
    position: absolute;
    z-index: 3;
    left: 250px;
    color: white;
    font-size: 3rem;
    top:30px;
}

/*认证图标*/
.rz {
    display: inline-block;
    position: relative;
    top: -6px;
    margin-left:10px;
    text-align: center;
    background-color: red;
    border-radius: 4px;
    padding: 0px 10px;
    font-size: 8px;
    color:white;
}
/*信息类型 li */
.type {
    float: left;
    width: 200px;
}
/*信息类型 ul */
.infotype {
    position: absolute;
    font-size: 20px;
    top: 1px;
    left: 190px;
    z-index:3;
}
/*其它类型的信息展示 例如btn等*/
.other {
    position:relative;
    text-align:center;
    margin-top:10px;
}


/*信息展示 标题*/
.title {
    position: relative;
    text-align: center;
    color: #949494;
    margin-bottom: 8px;
}
/*信息展示 内容*/
.text {
    position: relative;
    text-align: center;
    color: #ff8d2d;
    font-size: 25px;
}

/*右侧标题样式*/
.titleT {
    font-size:20px;
    margin-left:50px;
    padding-bottom:5px;
    border-bottom:1px solid #949494;
}
/*修改头像遮罩层*/
.chgavatar {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    left: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 200px;
    color: white;
}
    /*定义修改头像a标签点燃颜色*/
    .chgavatar:hover {
        color: white;
    }
/*左侧导航*/
    #leftnav {
    width: 180px;
    /*left: 360px;*/
    top:20px;
    left:20.4%;
}

    /*右侧页面*/
#rightpage {
    position:absolute;
    width:900px;
    left:580px;
    top:360px;
}